.wrap {
  position: relative;
  width: 100%;
  max-width: 640px;
  min-width: 300px;
  padding: 0 16px 80px;
  margin: 0 auto;
}

.button_wrap {
  display: flex;
  justify-content: flex-end;
  padding: 16px 0;
}

.button_wrap_sapce {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.button,
.color_label {
  padding: 6px 16px;
  font-size: 14px;
  line-height: 1.75;
  cursor: pointer;
  color: #1976d2;
  font-weight: 500;
  transition: 0.1s all ease-in-out;
  border-radius: 4px;
}

.button:hover,
.color_label:hover {
  background-color: #1976d20a;
}

.button:disabled {
  color: #c0c0cc;
  cursor: not-allowed;
}

.red {
  color: #d32f2f;
}

.red:hover {
  background-color: #d32f2f0a;
}

.blue {
  color: #1976d2;
}

.image {
  border-radius: 4px;
  background-color: #fbfbfd;
  border: 1px solid #f5f5f7;
}

.floating_wrap {
  position: fixed;
  bottom: 24px;
  right: 24px;
  border-radius: 99px;
  overflow: hidden;
  background-color: #fbfbfd;
  border: 1px solid #f5f5f7;
}

.floating_button {
  width: 60px;
  height: 60px;
  background-color: #1976d2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.1s all ease-in-out;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 5px -1px,
    rgb(0 0 0 / 14%) 0px 6px 10px 0px, rgb(0 0 0 / 12%) 0px 1px 18px 0;
}

.floating_button:hover {
  background-color: #1560c0;
}

.floating_button:disabled {
  background-color: #c0c0cc;
}

.color_plus_button_wrap {
  position: relative;
}

.plus_color_wrap {
  display: flex;
  align-items: center;
}

.plus_color_wrap > button {
  margin-right: 12px;
}

.plus_color {
  width: 32px;
  height: 32px;
  border-radius: 4px;
}

.main_color_wrap {
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
}

.main_color {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
  border-radius: 99px;
}

.main_color_button_wrap {
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.cancel_button {
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: #d32f2f;
  border-radius: 28px;
  cursor: pointer;
  transition: 0.1s all ease-in-out;
  font-size: 18px;
}

.cancel_button:hover {
  background-color: #d32f2f0a;
}

.remove_button {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #d32f2f;
  border-radius: 32px;
  cursor: pointer;
  transition: 0.1s all ease-in-out;
  font-size: 18px;
  flex-shrink: 0;
}

.remove_button:hover {
  background-color: #d32f2f0a;
}

.no_image {
  width: 100%;
  line-height: 240px;
  color: #e0e0e8;
  text-align: center;
  background-color: #fbfbfd;
  border: 1px solid #f5f5f7;
  border-radius: 4px;
  user-select: none;
  font-size: 32px;
  font-weight: 200;
  cursor: pointer;
}

.color_card {
  position: relative;
  padding: 16px;
  border-radius: 4px;
  background-color: #fbfbfd;
  border: 1px solid #f5f5f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.color_wrap {
  display: flex;
  align-items: center;
}

.color {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  margin-right: 24px;
  flex-shrink: 0;
}

.color_small {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  top: 8px;
  left: 8px;
  border: 1px solid #fbfbfd;
}

.color_info {
  color: #343745;
  font-size: 14px;
  line-height: 1.3;
}

.color_info > div {
  margin-bottom: 6px;
}

.color_info > div:last-of-type {
  margin-bottom: 0;
}

.toggle {
  position: relative;
  width: 44px;
  height: 18px;
  border-radius: 99px;
  background-color: #e0e0e8;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  user-select: none;
}

.toggle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 99px;
  background-color: #f5f5f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate(0, -50%);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.checked {
  background-color: rgba(25, 118, 210, 0.5);
}

.checked::after {
  left: unset;
  right: 0;
  background-color: rgb(25, 118, 210);
}

.toggle_wrap {
  font-size: 14px;
  line-height: 1;
  color: #7a7d8c;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toggle_wrap > span {
  margin-right: 8px;
}

.color_input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
